#header {
  width: 1000px;
  height: 50px;
  background-color: red;
  position: fixed;
}

#header #logo {
  width: 100px;
  height: 50px;
  background-color: white;
}

#header #login {
  width: 200px;
  /*height: 30px;*/
  float: right;
  background-color: green;
}

#main {
  height: 500px;
  background-color: blue;
}

#footer {
  height: 300px;
  background-color: yellow;
}
